{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>Project Detail</h2>
        {% if user.role == "admin" %}
            <a href="{% url 'projects:create-task-page' project.id %}">Create Task</a>
        {% endif %}
        <h1>Project: {{ project.title }}</h1>
        <p>description: {{ project.description }}</p>
        {% for task in tasks %}
            <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                <h3>{{ task.title }}</h3>
                <p>{{ task.status }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

